/node_modules
/public/hot
/public/storage
/public/storage/framework/*
/storage/*.key
/vendor
/storage/*
.env
.phpunit.result.cache
.idea/*
.idea
.phpintel
.vscode
.DS_Store
.history
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log